# Tests for Activity 4

## Tests: Chinook

In [4]:
# Test for part 1
from nose.tools import assert_equal, assert_in
from csc270tools import get_table

# Running the code in act4Chinook.sql to get the table for this part
table = get_table('act4Chinook.sql', 'Chinook.db', 0)

assert_in(('Restless and Wild', 'Accept'), table, 'Checking a row')
assert_in(('Respighi:Pines of Rome', 'Eugene Ormandy'), table, 'Checking another row')

In [6]:
# Test for part 2
from nose.tools import assert_equal
from csc270tools import get_table

# Running the code in act4Chinook.sql to get the table for this part
table = get_table('act4Chinook.sql', 'Chinook.db', 1)

assert_equal(table[0], ('Julia Barnett', 'Steve Johnson'), 'Checking the first row')
assert_equal(table[-1], ('Fynn Zimmermann', 'Jane Peacock'), 'Checking the last row')

In [8]:
# Test for part 3
from nose.tools import assert_equal, assert_in
from csc270tools import get_table

# Running the code in act4Chinook.sql to get the table for this part
table = get_table('act4Chinook.sql', 'Chinook.db', 2)

assert_in(('Nancy Edwards', 'Andrew Adams'), table, 'Checking a row')
assert_equal(table[-1], ('Andrew Adams', None), 'Checking the last row')

In [1]:
# Test for part 4
from nose.tools import assert_equal, assert_in
from csc270tools import get_table

# Running the code in act4Chinook.sql to get the table for this part
table = get_table('act4Chinook.sql', 'Chinook.db', 3)

assert_in(('Hunger Strike', 'Grunge'), table, 'Checking one row')
assert_in(('The Zoo', 'Heavy Metal Classic'), table, 'Checking another row')

In [3]:
# Test for part 5
from nose.tools import assert_equal
from csc270tools import get_table

# Running the code in act4Chinook.sql to get the table for this part
table = get_table('act4Chinook.sql', 'Chinook.db', 4)

assert_equal(len(table), 22, 'Checking the number of rows')
assert_equal(table[-1], (49.74, 'Intro', 'No Security', 'The Rolling Stones'), 'Checking the last row')

In [4]:
# Test for part 6
from nose.tools import assert_equal
from csc270tools import get_table

# Running the code in act4Chinook.sql to get the table for this part
table = get_table('act4Chinook.sql', 'Chinook.db', 5)

assert_equal(table[0], ('09 - Iron Maiden',), 'Checking the first row')
assert_equal(table[-1], ('Walking On The Water',), 'Checking the last row')

In [6]:
# Test for part 7
from nose.tools import assert_equal, assert_in
from csc270tools import get_table

# Running the code in act4Chinook.sql to get the table for this part
table = get_table('act4Chinook.sql', 'Chinook.db', 6)

assert_in((4, 'Hansen'), table, 'Checking a row')
assert_in((13, 'Ramos'), table, 'Checking another row')

## Tests: Harry Potter Families

In [8]:
# Test for part 1
from nose.tools import assert_equal, assert_in
from csc270tools import get_table

# Running the code in act4Potter.sql to get the table for this part
table = get_table('act4Potter.sql', 'Potter.db', 0)

assert_in(('James Potter', 'Harry Potter'), table, 'Checking a row')
assert_in(('Molly Prewett', 'George Weasley'), table, 'Checking another row')

In [3]:
# Test for part 2
from nose.tools import assert_equal
from csc270tools import get_table

# Running the code in act4Potter.sql to get the table for this part
table = get_table('act4Potter.sql', 'Potter.db', 1)

assert_equal(table[0], ('Bill',), 'Checking the first row')
assert_equal(len(table), 5, 'Checking the number of rows')

OperationalError: near "Names": syntax error

In [0]:
# Test for part 3
from nose.tools import assert_equal, assert_in
from csc270tools import get_table

# Running the code in act4Potter.sql to get the table for this part
table = get_table('act4Potter.sql', 'Potter.db', 2)

assert_in(('James Potter', 'Harry Potter', 'James Potter'), table, 'Checking a row')
assert_in(('Molly Prewett', 'Ron Weasley', 'Hugo Granger-Weasley'), table, 'Checking another row')